{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - PPCYL2-AcadNet</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="card login-box">
            <h1>Login del Sistema</h1>
            <p>Ingrese sus credenciales para acceder a la plataforma.</p>

            {% if error %}
                <div class="message-error">
                    {{ error }}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <p>
                    <label for="{{ form.username.id_for_label }}">Usuario:</label>
                    {{ form.username }}
                </p>

                <p>
                    <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                    {{ form.password }}
                </p>

                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
</body>
</html>